* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
    
}

/* local font */
@font-face {
    font-family: "Tangerine";
    src: url(/TangerineRegular.woff) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}


/* font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;500&display=swap');



/* nav nav */

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    top: 0;
    left: 0;
    justify-content: space-between;
    background-color: #FFDE92;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    position: fixed;
    z-index: 9999;

}

#logonav {
    width: 20%;
    height: 100%;
    margin-left: 10px;
}

#logotext {
    font-size: 40px;
    white-space: nowrap;
    font-family: 'Tangerine';
    color: #FF8000;
    text-decoration: none;
}

#logotext:hover {
    color: #ffffff;
    transform: scale(98%);
}

#leftside {

    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 20%;
    margin-left: 10%;
}

#rightside {

    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;



}

ul {


    display: flex;
    white-space: nowrap;


    height: 120px;
    align-items: center;
    margin-right: 10%;




}

li {


    padding: 40%;
    margin-right: 10%;
}

#navlink {
    display: flex;
    justify-content: space-evenly;

    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    color: #F5800D;
    font-size: 24px;


}

#navlink:hover {
    background-color: #FF8000;
    border-radius: 10px;
    width: 120%;
    padding: 10%;
    transition: ease-in-out 0.1s;
    color: white;
}

@media screen and (max-width: 1743px) {
    #logonav {
        width: 20%;
        height: 100%;
        margin-left: 10px;
    }

    #rightside {

        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;



    }

    ul {


        display: flex;
        white-space: nowrap;


        height: 120px;
        align-items: center;
        margin-right: 10%;




    }

    li {


        padding: 40%;
        margin-right: 10%;
    }

    #navlink {
        display: flex;
        justify-content: space-evenly;

        font-family: 'Outfit', sans-serif;
        text-decoration: none;
        font-size: 20px;


    }

}

@media screen and (max-width: 1559px) {
    #logonav {
        width: 20%;
        margin-left: 10px;
    }

    #rightside {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;



    }

    ul {


        display: flex;
        white-space: nowrap;

        height: 120px;
        align-items: center;
        margin-right: 10%;




    }

    li {


        padding: 40%;
        margin-right: 10%;
    }

    #navlink {
        display: flex;
        justify-content: space-evenly;
        font-family: 'Outfit', sans-serif;
        text-decoration: none;
        font-size: 18px;


    }

}

@media screen and (max-width: 1439px) {
    #logonav {
        width: 20%;
        margin-left: 10px;
    }

    #rightside {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;



    }

    ul {


        display: flex;
        white-space: nowrap;

        height: 120px;
        align-items: center;
        margin-right: 10%;




    }

    li {


        padding: 30%;
        margin-right: 10%;
    }

    #navlink {
        display: flex;
        justify-content: space-evenly;
        font-family: 'Outfit', sans-serif;
        text-decoration: none;
        font-size: 18px;


    }

}

@media screen and (max-width: 1301px) {
    #logonav {
        width: 10%;

        margin-left: 10px;
    }

    p {
        font-size: 40px;

    }

    #leftside {
        display: flex;
        align-items: center;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-right: auto;
        margin-left: auto;
    }

    #rightside {
        display: none;



    }
}

@media  screen and  (max-width: 600px) {
    #logonav{
        width: 10%;
        margin-left: 10px;
    }
    

    p{
        font-size: 40px;
    

    }

    #leftside {
        display: flex;
        align-items: center;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-right: auto;
        margin-left: 5%;
    }

    #rightside {
        display: none;



    }
    
}

/* header header header */

/* fonts fonts fonts */
h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    color: black;
    font-size: calc(15px + 3.3vw);

}

h2 {
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    font-size: calc(5px + 3.3vw);
    margin-top: 5%;
}

h1, h2 {
    margin-right: 5%;
}

#headercontainer {
    display: flex;
    height: 60vh;
    width: 90vw;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    overflow: hidden;

}

#leftcontainer {

    width: 60%;
    margin-top: 6%;

}

#rightcontainer {

    width: 40%;


}

lottie-player {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background: transparent;
    width: 100%;
    height: 100%;


}

#iconheader {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
}

#icon {
    padding: 1%;
}

hr {
    background-color: #FF8000;
    border-color: transparent;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;

}

@media  screen and  (max-width: 600px){
    #leftcontainer{
        display: flex;
        flex-direction: column;
        width: 100%;
        top: 0;
        left: 0;
        

    }
    #rightcontainer{
        margin: auto;
        height: fit-content;
      
    }
    #iconheader{
        margin-bottom: 0;
        margin-top: 5%;
        height: 100%;
    }
    hr{
        margin-top: 2%;
    }
    #headercontainer{
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        margin-top: 0;
        margin-top: 11vh;

    }
    #animheader{
        margin-top: 0;
    }
    #icon{
        width: 20%;
    }
}

/* wide anim wide anim wide anim  */
#wideanim {
    margin-top: 10%;
}



/* quotation quotation quotation  */

#containerquotation {
    width: 90vw;


    margin-top: 5%;

    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
}

#containerleft {

    height: 100%;
    width: 40%;
    display: flex;

}

#containerright {

    height: 100%;
    width: 40%;
    display: flex;
}

#vlhr {
    height: 70%;
    width: 3px;
    background-color: #FF8000;
    border-color: transparent;

}

@media screen and (max-width:1520px) {
    #vlhr {
        height: 90%;
    }

}

#quote {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: calc(15px + 0.5vw);
    margin-left: 2%;
}

/* slider histoire de flo */


/* slider 3 images slider 3 images slider 3 images slider 3 images */

.slidercontainer {
    width: 80vw;
    height: auto;
    margin-top: 8%;

    margin-left: auto;
    margin-right: auto;

    position: relative;
    display: flex;
}

.button {
    position: absolute;
    display: flex;
    width: 90%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.btnimg {
    width: 100%;
}

.btnimg:hover {
    transform: scale(110%);
}

.btnimg:active {
    transform: scale(120%);
}

.red {
    width: 10%;
    height: 10%;




}

.green {
    width: 10%;
    height: 10%;



}

.imgset {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 80%;

}
@media screen and (max-width:600px){
    .slidercontainer{
        width: 100vw;
        height: 100%;
        margin: 0;
        margin-top: 10%;
        padding: 0;
    }
    .imgset{
        width: 100vw;
    }
    .button {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        z-index: 9000;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .btnimg:hover {
        transform: scale(110%);
    }
    
    .btnimg:active {
        transform: scale(120%);
    }
}

/* button button button  */

#btnprojet {
    width: 30vw;
    height: 9vh;
    background-color: #FF7D00;
    margin: auto;
    margin-top: 4%;
    border-radius: 3vw;
    display: flex;
    align-items: center;
}

#projetbtn {
    margin-left: auto;
    margin-right: auto;

    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: calc(15px + 0.5vw);
    text-decoration: none;
    color: white;

}

#projetbtn:hover {
    scale: 102%;
}
@media screen and (max-width:600px){
    #btnprojet{
        width: 55vw;
        height: 5vh;
        background-color: #FF7D00;
        
    }
    #projetbtn {
        margin-left: auto;
        margin-right: auto;
    
        font-family: 'Outfit', sans-serif;
        font-weight: 500;
        font-size: calc(15px + 0.5vw);
        text-decoration: none;
        color: white;
        white-space: nowrap;
    
    }

}

/* services cards services cards services cards */




.container {
    display: flex;
    justify-content: center;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding-top: 5%;
}

.card0 {
    background: #FACF87;
    width: 30%;
    align-items: center;

    margin: 2%;
    border-radius: 4.5vw;
    display: flex;
    flex-direction: column;
    position: relative;

}

.card0:hover, .card1:hover {
    scale: 102%;
    color: white;
    background-color: #F5800D;
    transition: ease-in-out 0.2s;
}

.card1 {
    background: #FFF2D2;
    width: 30%;
    align-items: center;

    margin: 2%;
    border-radius: 4.5vw;
    display: flex;
    flex-direction: column;
    position: relative;

}

h3 {
    font-family: "Tangerine";
    font-weight: 300;
    text-align: center;
    font-size: calc(10px + 3.5vw);
    padding-left: 6%;
    padding-right: 6%;
    margin-top: 10%;

}

#services {
    font-family: "outfit";
    font-size: 1.5vw;

    padding: 6%;
    margin-bottom: 15%;


}

#price {
    font-family: 'Outfit', sans-serif;
    bottom: 2%;
    margin-bottom: 10%;

    position: absolute;
    font-weight: 600;
    font-size: 1.5vw;
    margin-top: 10%;



}
@media screen and (max-width:600px){
    .container{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
    .card0 {
        background: #FACF87;
        width: 80%;
        height: 60vh;
        align-items: center;
    
        margin: 2%;
        border-radius: 4.5vw;
        display: flex;
        flex-direction: column;
        position: relative;
    
    }
    .card1 {
        background: #FFF2D2;
        width: 80%;
        height: 60vh;
        align-items: center;
    
        margin: 2%;
        border-radius: 4.5vw;
        display: flex;
        flex-direction: column;
        position: relative;
    
    }
    h3 {
        font-family: "Tangerine";
        font-weight: 300;
        text-align: center;
        font-size: calc(10px + 5.5vw);
        padding-left: 6%;
        padding-right: 6%;
        margin-top: 10%;
    
    }
    
    #services {
        font-family: "outfit";
        font-size: 5.5vw;
    
        padding: 6%;
        margin-bottom: 10%;
        text-align: center;
    
    
    }
    
    #price {
        font-family: 'Outfit', sans-serif;
        bottom: 2%;
        margin-bottom: 10%;
    
        position: absolute;
        font-weight: 600;
        font-size: 4.5vw;
        margin-top: 10%;
    
    
    
    }
}


/* timeline */

/* form */
#formcontainer {
    display: flex;
    width: 80vw;
    /* margin-top: 2%; */

    margin-left: auto;
    margin-right: auto;
    /* border: solid red; */
}

#formcolor {
    background-color: #FFDE92;
}

#leftform {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* border: solid saddlebrown; */
}

input {
    border-radius: 2vw;
    border: transparent;
    height: 5vh;
    margin: 0%;
    margin-top: 3vh;
}

input[type="text"] {
    padding: 0px 0px 0px 40px;
    font-family: "Outfit";
    font-size: 22px;
    /* Add 10px padding to the top, 20px padding to the right, 30px padding to the bottom, and 40px padding to the left */
}



input[type="email"] {
    padding: 0px 0px 0px 40px;
    font-size: 22px;
    font-family: "Outfit";

}

input:focus {
    outline: 5px solid orange;
    outline-offset: 5px;
}

input::placeholder {
    color: gray;
    font-size: 18px;
    padding: 2vw;

}

#endform {
    width: 100vw;

}


textarea {
    border-radius: 1vw;
    border: transparent;
    height: calc(100% - 60px);
    width: 40%;
    height: 24vh;
    margin: auto;
    margin-left: 2%;
    margin-top: 2%;
    padding-left: 2vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-right: 2vw;
    font-size: 22px;
    font-family: "Outfit";

    /* border: solid orange; */
}




textarea:focus {
    outline: 5px solid orange;
    outline-offset: 5px;
}

textarea::placeholder {
    font-size: 18px;
    padding-left: 2vw;
    padding-top: 0.5vw;
    color: gray;
}


#btnform {
    display: flex;
    width: 80vw;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    transform-origin: center;
}


#btnclick {
    align-self: flex-end;
    margin-right: 4vw;
    width: 8vw;
    height: 4vh;
    background-color: orange;
    border: none;
    border-radius: 2vh;
    color: white;
    font-size: 1vw;
    margin-bottom: 1%;
    margin-top: 1%;


}

#btnclick:active {
    transform: scale(112%);
    background-color: olivedrab;

}
@media screen and (max-width:600px) {
    #formcontainer{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        margin-bottom: O;
        width: 100vw;
        height: 40vh;
    }

    textarea{
        margin: auto;
        margin-top: 5%;
        width: 80vw;
    }
    #leftform {
        display: flex;
        flex-direction: column;
        width: 80vw;
        /* border: solid saddlebrown; */
    }
    #btnclick {
        align-self: flex-end;
        margin-right: 4vw;
        width: 20vw;
        height: 3vh;
        background-color: orange;
        border: none;
        border-radius: 2vh;
        color: white;
        font-size: 3vw;
        margin-bottom: 2%;
        margin-top: 2%;
    
    
    }
    #endform {
        width: 100vw;
        height: 0.5vh;
        margin-top: 0;
    
    }
    
}


/* anoul section */
#anoulcontainer {
    display: flex;
    align-items: center;
    width: 70vw;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
}

#anoulgif {
    border-radius: 50%;
    border: solid #FFDE92 20px;
    width: 30vw;
}

#anoultext {
    font-family: 'Outfit', sans-serif, medium;
    font-weight: 300;
    /* padding: 20%; */
    font-size: 1.8vw;
    margin-right: 5%;


    width: 100%;


}
@media screen and (max-width: 600px){
    #anoulcontainer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
        width: 100vw;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
      
       
    }
    #anoulgif{
        border-radius: 50%;
        border: solid #FFDE92 20px;
        width: 50%;
        height: 50%;

    }

  
    #anoultext {
        font-family: 'Outfit', sans-serif, medium;
        font-weight: 300;
         padding: 20%; 
        font-size: 3.8vw;
        text-align: center;
       
    
        
    
    
    }

}


/* ratings */

#containerrates {
    display: flex;
    gap: 10%;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    border: solid #FFDE92 8px;
    border-radius: 8vw;
}

#rates {
    /* border: solid red; */
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30vw;

}

#ratepic {
    width: 10vw;
    border-radius: 50%;


}

#ratestext {
    font-family: 'Outfit', sans-serif, medium;
    font-weight: 500;
    /* padding: 20%; */
    font-size: 1vw;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    width: 15vw;

}

#stars {
    width: 10vw;
    margin-top: 5%;
}
@media screen and (max-width: 600px){
    #containerrates {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 10%;
        width: 70vw;
        height: 100vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0%;
        border: solid #FFDE92 8px;
        border-radius: 8vw;
    }

}

/* contact */
#contactcontainer {
    margin-top: 0%;
    width: 100%;

    /* border: solid red; */
    /* background-color: #FACF87; */
}

#top {
    display: flex;
    /* border: solid red; */
}

#contactanim {
    width: 50vh;
    /* border: solid; */
}

#contacttitle {
    font-family: "Tangerine";
    font-weight: 300;
    color: #F6721D;
    /* border: solid; */
    text-align: center;
    font-size: calc(15px + 3.3vw);



}

/* footer */
footer {
    width: 100%;
    height: 15vh;
    background-color: #FFDE92;
    bottom: 0;
    display: flex;
    justify-content: space-between;


}

#facebook {
    height: 60%;
    aspect-ratio: 1/1;

}

#cookie {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

#logosocial {
    width: 30vw;
    height: auto;
    /* border: solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#moncontact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30vw;
    height: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    /* border: solid red; */

}

#moncontact a {
    text-decoration: none;
    font-family: 'Outfit', sans-serif, medium;
    font-weight: 500;
    padding: 1%;

    font-size: 1vw;
    color: black;

}

#footerlogo {
    height: 40%;
    margin-left: 10%;
}

#linkfooter {
    margin-left: 10%;
    white-space: nowrap;
}

#linkfooter a {
    font-family: 'Outfit', sans-serif, medium;
    font-size: 0.8vw;
    padding-left: 1%;
    text-decoration: none;
    color: black;

}
@media screen and (max-width: 600px){
    #facebook {
        height: 30%;
        aspect-ratio: 1/1;
        padding: 2%;
    
    }
    #logosocial {
        width: 30vw;
        height: auto;
        /* border: solid red; */
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    footer {
    width: 100vw;
    height: 15vh;
    background-color: #FFDE92;
    bottom: 0;
    display: flex;
    justify-content: space-between;


}

}
