* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* local font */
@font-face {
    font-family: "Tangerine";
    src: url(/TangerineRegular.woff) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;500&display=swap');



/* nav nav */

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    top: 0;
    left: 0;
    justify-content: space-between;
    background-color: #FFDE92;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    position: fixed;
    z-index: 9999;

}

#logonav {
    width: 30%;
    margin-left: 10px;
}

#logotext {
    font-size: 40px;
    white-space: nowrap;
    font-family: 'Tangerine';
    color: #FF8000;
    text-decoration: none;
}

#logotext:hover {
    color: #ffffff;
    transform: scale(98%);
}

#leftside {

    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 20%;
    margin-left: 10%;
}

#rightside {

    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;



}

ul {


    display: flex;
    white-space: nowrap;


    height: 120px;
    align-items: center;
    margin-right: 10%;




}

li {


    padding: 40%;
    margin-right: 10%;
}

#navlink {
    display: flex;
    justify-content: space-evenly;

    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    color: #F5800D;
    font-size: 24px;


}

#navlink:hover {
    background-color: #FF8000;
    border-radius: 10px;
    width: 120%;
    padding: 10%;
    transition: ease-in-out 0.1s;
    color: white;
}

@media screen and (max-width: 1743px) {

    #rightside {

        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;



    }

    ul {


        display: flex;
        white-space: nowrap;


        height: 120px;
        align-items: center;
        margin-right: 10%;




    }

    li {


        padding: 40%;
        margin-right: 10%;
    }

    #navlink {
        display: flex;
        justify-content: space-evenly;

        font-family: 'Outfit', sans-serif;
        text-decoration: none;
        font-size: 20px;


    }

}

@media screen and (max-width: 1559px) {

    #rightside {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;



    }

    ul {


        display: flex;
        white-space: nowrap;

        height: 120px;
        align-items: center;
        margin-right: 10%;




    }

    li {


        padding: 40%;
        margin-right: 10%;
    }

    #navlink {
        display: flex;
        justify-content: space-evenly;
        font-family: 'Outfit', sans-serif;
        text-decoration: none;
        font-size: 18px;


    }

}

@media screen and (max-width: 1439px) {

    #rightside {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;



    }

    ul {


        display: flex;
        white-space: nowrap;

        height: 120px;
        align-items: center;
        margin-right: 10%;




    }

    li {


        padding: 30%;
        margin-right: 10%;
    }

    #navlink {
        display: flex;
        justify-content: space-evenly;
        font-family: 'Outfit', sans-serif;
        text-decoration: none;
        font-size: 18px;


    }

}

@media screen and (max-width: 1301px) {
    #logonav {
        height: 100px;
        margin-left: 10px;
    }

    p {
        font-size: 40px;

    }

    #leftside {
        display: flex;
        align-items: center;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-right: auto;
        margin-left: auto;
    }

    #rightside {
        display: none;



    }
}

/* header header header */

/* fonts fonts fonts */
h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    color: black;
    font-size: calc(15px + 3.3vw);

}

h2 {
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    font-size: calc(5px + 3.3vw);
    margin-top: 5%;
}

h1, h2 {
    margin-right: 5%;
}

#headercontainer {
    display: flex;
    height: 60vh;
    width: 90vw;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    overflow: hidden;

}

#leftcontainer {

    width: 60%;
    margin-top: 6%;

}

#rightcontainer {

    width: 40%;


}

lottie-player {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background: transparent;
    width: 100%;
    height: 100%;


}

#iconheader {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
}

#icon {
    padding: 1%;
}

hr {
    background-color: #FF8000;
    border-color: transparent;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;

}

/* wide anim wide anim wide anim  */
#wideanim {
    margin-top: 10%;
}





/* quotation quotation quotation  */

#containerquotation {
    width: 90vw;


    margin-top: 5%;

    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
}

#containerleft {

    height: 100%;
    width: 40%;
    display: flex;

}

#containerright {

    height: 100%;
    width: 40%;
    display: flex;
}

#vlhr {
    height: 70%;
    width: 3px;
    background-color: #FF8000;
    border-color: transparent;

}

@media screen and (max-width:1520px) {
    #vlhr {
        height: 90%;
    }

}

#quote {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: calc(15px + 0.5vw);
    margin-left: 2%;
}

/* slider histoire de flo */


/* slider 3 images slider 3 images slider 3 images slider 3 images */
.slidercontainer {
    width: 80vw;
    height: auto;
    margin-top: 8%;

    margin-left: auto;
    margin-right: auto;

    position: relative;
    display: flex;
}

.button {
    position: absolute;
    display: flex;
    width: 90%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.btnimg {
    width: 100%;
}

.btnimg:hover {
    transform: scale(110%);
}

.red {
    width: 10%;
    height: 10%;




}

.green {
    width: 10%;
    height: 10%;



}

.imgset {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 80%;

}


/* button button button  */

#btnprojet {
    width: 30vw;
    height: 9vh;
    background-color: #FF7D00;
    margin: auto;
    margin-top: 4%;
    border-radius: 3vw;
    display: flex;
    align-items: center;
}

#projetbtn {
    margin-left: auto;
    margin-right: auto;

    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: calc(15px + 0.5vw);
    text-decoration: none;
    color: white;

}

#projetbtn:hover {
    scale: 102%;
}

/* services cards services cards services cards */




.container {
    display: flex;
    justify-content: center;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding-top: 5%;
}

.card0 {
    background: #FACF87;
    width: 30%;
    align-items: center;

    margin: 2%;
    border-radius: 4.5vw;
    display: flex;
    flex-direction: column;
    position: relative;

}

.card0:hover, .card1:hover {
    scale: 102%;
    color: white;
    background-color: #F5800D;
    transition: ease-in-out 0.2s;
}

.card1 {
    background: #FFF2D2;
    width: 30%;
    align-items: center;

    margin: 2%;
    border-radius: 4.5vw;
    display: flex;
    flex-direction: column;
    position: relative;

}

h3 {
    font-family: "Tangerine";
    font-weight: 300;
    text-align: center;
    font-size: calc(10px + 3.5vw);
    padding-left: 6%;
    padding-right: 6%;
    margin-top: 10%;

}

#services {
    font-family: "outfit";
    font-size: 1.5vw;

    padding: 6%;


}

#price {
    font-family: 'Outfit', sans-serif;
    bottom: 2%;
    position: absolute;
    font-weight: 600;
    font-size: 1.5vw;
    margin-top: 10%;



}


/* timeline */
/* form */

#form {
    width: 100%;
    background-color: #FFDE92;
    /* border: solid red; */
    display: flex;

    height: 30vh;


}

#formleft {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10%;

}

#message {
    width: 40vw;
    height: 80%;
    align-self: center;
    border-radius: 5vh;

    margin-left: 10%;
    background-color: white;
    /* border: solid red; */
}

#input {
    width: 30vw;
    height: 4vh;
    border-radius: 2em;
    background-color: white;
}

#endform {
    width: 100%;
}

/* contact */
#contactcontainer {
    margin-top: 10%;
    width: 100%;

    /* border: solid red; */
    /* background-color: #FACF87; */
}

#top {
    display: flex;
    /* border: solid red; */
}

#contactanim {
    width: 50vh;
    /* border: solid; */
}

#contacttitle {
    font-family: "Tangerine";
    font-weight: 300;
    color: #F6721D;
    /* border: solid; */
    text-align: center;
    font-size: calc(15px + 3.3vw);



}

/* footer */
footer {
    width: 100%;
    height: 15vh;
    background-color: #FFDE92;
    bottom: 0;
    display: flex;
    justify-content: space-between;


}

#facebook {
    height: 60%;
    aspect-ratio: 1/1;

}

#cookie {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

#logosocial {
    width: 30vw;
    height: auto;
    /* border: solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#moncontact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30vw;
    height: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    /* border: solid red; */

}

#moncontact a {
    text-decoration: none;
    font-family: 'Outfit', sans-serif, medium;
    font-weight: 500;
    padding: 1%;

    font-size: 1vw;
    color: black;

}

#footerlogo {
    height: 40%;
    margin-left: 10%;
}

#linkfooter {
    margin-left: 10%;
    white-space: nowrap;
}

#linkfooter a {
    font-family: 'Outfit', sans-serif, medium;
    font-size: 0.8vw;
    padding-left: 1%;
    text-decoration: none;
    color: black;

}
